# Lab instruction files & other pdf files
*.pdf

# Assignment submission folders
*-lab?
*-lab??
*.zip

# Microsoft word documents
*.docx

# .tmp files
*.tmp

# .exe files
*.exe

# Unnecessary folders
/Lectures/
/Environmental Setting/